Makefile*
object_script*
Output/*
release/*
debug/*
windows/*
*.qm
*.bak
*pro.user*
/src/qoobar_app/qoobar_resource.rc
windows
release
Output
debug
.cccc
*.h~
*.cpp~
*.pri~
/src/qoobar_app/loudgain-master/src
.flatpak-builder
build-dir
