<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>qoobar</string>
	<key>CFBundleDisplayName</key>
	<string>Qoobar</string>
	<key>CFBundleIconFile</key>
	<string>qoobar.icns</string>
	<key>CFBundleIdentifier</key>
	<string>qoobar.qoobar</string>
	<key>CFBundleName</key>
	<string>Qoobar</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.8</string>
	<key>CFBundleVersion</key>
	<string>1.6.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>Russian</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>LSApplicationCategoryType</key>
        <string>public.app-category.music</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>http://qoobar.sourceforge.net/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUAllowsAutomaticUpdates</key>
	<string>NO</string>
	<key>SUEnableSystemProfiling</key>
	<string>YES</string>
</dict>
</plist>
