<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.qoobar.qoobar.help</string>	
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>	
	<key>CFBundleName</key>
	<string>Qoobar</string>	
	<key>CFBundlePackageType</key>
	<string>BNDL</string>	
	<key>CFBundleShortVersionString</key>
	<string>1.6.8</string>	
	<key>CFBundleSignature</key>
	<string>hbwr</string>	
	<key>CFBundleVersion</key>
	<string>1.6.8</string>	
	<key>HPDBookAccessPath</key>
	<string>index.htm</string>
	<key>HPDBookIconPath</key>
	<string>images/qoobar-icon.png</string>
	<key>HPDBookIndexPath</key>
	<string>search.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>Qoobar1</string>
	<key>HPDBookTitle</key>
	<string>Qoobar Help</string>
    <key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
